*   {
    margin: 0;
    padding: 0;
}
body    {
    background: #ADD8E6;

    background-size: cover;
}
img     {
    height: 62px;
    width: 190px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 45%;
}
.main       {
    left: 38%;
    background: lightyellow;
    padding: 40px;
    margin: 10px, 15px;
    position: absolute;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 0px;

}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    color: #062863;
    
    margin-top: 2px;
}
.sub    {
    color: lightslategrey;
    font-family: arial;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

form label   {
    text-align: justify;
    color: rgb(22, 21, 21);
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
}
form input  {
    font-family: arial;
    background: rgba(255, 255,255, 1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.03);
    margin-bottom: 30px;
}
form input:focus    {
    background: #d2d9dd;
}
form select {
    -webkit-appearance: menulist-button;
    height: 35px;
    background: rgba(255, 255,255, 1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:black;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.03);
    margin-bottom: 30px;
}
button      {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: white;
    margin: 0 auto;
    background: #062863;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
button:hover    {
    background: rgb(1, 1, 34);
}
.footer     {
    color: #062863;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 760px 0 10px 0;
    
    text-align: center;
    cursor: pointer;

}
@media screen and (max-width: 760px)   {
    .main {
       left: 9%;
        margin-top: 2%;
       padding: 10px;
    
    }
    img     {
        margin-left: 69px;
        margin-top: 10px;
    }
    h1  {
        font-size: 25px;
        margin-bottom: 3px;
    }
    .sub    {
       
        font-size: 12px;
        margin-top: 1px;
        text-align: center;
    }
    button      {
        margin: 0 auto;
        font-size: 10px;
        width:70%;
    }
    .footer     {
        margin: 670px 0 0 ;
        bottom: 10px;   
    
    }

}